// out: theme-gitea-modern.user.css

/* ==UserStyle==
@name           Gitea Modern
@version        1.0.18
@description    A modern style for Gitea and Codeberg!
@updateURL      https://codeberg.org/Freeplay/CSS-Styles/raw/branch/main/Gitea/theme-gitea-modern.user.css
@homepageURL    https://codeberg.org/Freeplay/CSS-Styles
@supportURL     https://codeberg.org/Freeplay/CSS-Styles/issues
@preprocessor   stylus

 -- AUTHOR STUFF --
@namespace      Freeplay
@author         Freeplay (https://freeplay.codeberg.page/)

@var text notice 'Make sure you are using the "Stylus" browser extension, not "Stylish"!' "'https://add0n.com/stylus.html'"

==/UserStyle== */

@-moz-document domain("codeberg.org"), domain("gitea.com"), domain("try.gitea.io"), domain("gitdab.com"), domain("git.fsfe.org"), domain("git.passageenseine.fr"), domain("dev.sum7.eu") {

    @import "theme-gitea-modern.styl"

}

@-moz-document domain("codeberg.org") {
	/* Fix Codeberg Logo */
	.item.brand a {
		border-radius: 100px;
		background-color: var(--color-primary) !important;
		box-shadow: 0 1px 2px var(--color-primary);
	}
}
